@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {

    font-family: "Poppins", sans-serif;
    padding: 1rem 6% 0;
}