/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Global */
body {
    font-family: "Poppins", sans-serif;
    padding: 1rem 6% 0;
}

::backdrop {
    background: black;
    opacity: .5;
}

/* Main content */
h1 {
    font-size: 2rem;
}

main {
    margin-top: 4rem;
}

.subject-list {
    display: flex;
    column-gap: 2rem;
    margin-top: 2rem;
}

.subject-list article {
    flex-basis: 22%;
    border-radius: 1rem;
    box-shadow: 10px 10px 35px #ccc;
    cursor: pointer;
    transition: .5s;
}

.subject-list article.active {
    transform: scale(95%);
    transition: .5s;
    background: #eeeeee;
}

.subject-list article img {
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.subject-list article h2 {
    font-size: 1.2rem;
    margin: 0 0 .7rem;
}

.subject-list article small {
    color: #666;
}

.subject-list .subject-description {
    padding: 1.3rem 1.5rem 1.5rem;
}

.th-units {
    padding-top: 5rem;
    width: 93%;
    margin: 0 auto;
}

.th-units h2 {
    text-align: center;
    display: none;
}

.th-units ul {
    list-style-type: none;
    padding: 0;
    display: none;
}

.th-units ul li {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.th-units ul li:first-child {
    border-top: 1px solid #dddddd;
}

.th-units li span {
    font-weight: bold;
}

.th-units li small {
    display: block;
    margin-top: .6rem;
    color: #333;
}

.th-units li button {
    background: none;
    border: 2px solid #cccccc;
    border-radius: 2rem;
    padding: .6rem 1rem 1rem;
    cursor: pointer;
    transition: .2s;
}

.th-units li button:hover {
    background: #cccccc;
}

.th-units li button i {
    color: green;
    font-size: 1.5rem;
    position: relative;
    top: 3px;
    margin-right: .5rem;
}

dialog {
    transform: scale(0);
    transition: .3s ease-in-out;
    position: fixed;
    padding: 1.5rem 1.5rem 2rem;
    width: calc(500px - 2vw);
}

dialog.active {
    transform: scale(100%);
    transition: .3s ease-in-out;
}

dialog h2 {
    text-align: center;
}

.dialog-close-btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    transition: .2s;
}

.dialog-close-btn:hover {
    color: #333;
}

.dialog-btn-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dialog-btn-holder button {
    flex-basis: 31%;
    padding: 3rem 0;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    background: #ccc;
}

.dialog-btn-holder button:hover {

}

.dialog-btn-holder button i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dialog-btn-holder button span {
    display: block;
}